#nombre-form {
text-align: center;


}
    
#nombre-acti{

    text-align: center;
}


.imagen {
    display: block;
    margin: 0 auto;


}
 #formulario {
display: flex;
  flex-direction: column;
  align-items: left;


 }
  